# Sensitive credentials
config/gnome-online-accounts/
config/evolution/
config/keyring/
config/gnome-keyring/

# Cache and logs
**/*cache*/
**/*.log
**/*.lock
**.steampid*

# Session files
config/fish/fish_variables
config/dconf/

#config files relevant to setup
config/hypr/organized/monitor.conf
config/hypr/organized/monitor.conf.bkp
